References
Data
env
models/rgb/resnet/model_resnet.pt
models/rgb/resnet/history.pickle
dataset_v1
hsi_references
Data.zip
hareKrishna.jpg
hist.png
radhe_shyam.jpg
models/rgb/resnet/ckpts
models/rgb/resnet/rgb_resnet_101_logs
wandb
models/rgb/enet/ckpts
models/rgb/enet/rgb_effecientNet_101_logs
models/rgb/__pycache__
Preprocessing/__pycache__
models/__pycache__
models/hsi/__pycache__
models/hsi/xception/ckpts
models/hsi/xception/hsi_xception_logs
models/hsi/xception/confusion_matrix.csv
models/rgb/resnet/confusion_matrix.csv
models/rgb/enet/confusion_matrix.csv
models/rgb/google_net/ckpts
models/rgb/google_net/confusion_matrix.csv
models/rgb/google_net/rgb_google_net_logs
models/hsi/xception/sk_fold_test_results.pkl
lightning_logs
models/rgb/resnet/sk_fold_test_results.pkl
models/rgb/google_net/sk_fold_test_results.pkl
models/rgb/enet/sk_fold_test_results.pkl
models/ensemble/logs
models/ensemble/logs/ckpts
models/ensemble/__pycache__
models/hsi/hsi_distribution.csv
